[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dateutil = "*"
pyyaml = "*"
numpy = "*"
packaging = "*"
six = "*"
tornado = "*"
bokeh = "*"
"jinja2" = "*"

[dev-packages]

[requires]
python_version = "3.6"
